<li class="step col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading drag-handle">
      <span class="pull-right">☰</span>
      <h3 class="panel-title"><span class="name"><%= f.object.name || 'New Step' %></span> <small>(<span class="type"><%= f.object.type || 'None' %></span>)</small></h3>
    </div>

    <div class="panel-body">
      <%= f.text_field :name, placeholder: 'New Step', wrapper_class: 'step-name' %>
      <%= f.select :type, Step.subclasses.map { |x| [t(x), x] }, { include_blank: 'None' }, wrapper_class: 'step-type' %>
      <%= f.hidden_field :order, class: 'order' %>
      <h4>Options</h4>
      <div class="options">
        <% f.object.class.stored_attributes[:options].each do |o| %>
          <%= f.text_field o, layout: :horizontal, data: { option: o } %>
        <% end %>
      </div>
    </div>
  </div>
</li>