<p id="notice"><%= notice %></p>

<h1>Listing Pipelines</h1>

<%= paginate @pipelines, theme: 'bootstrap' %>

<div class="pipelines">
<% @pipelines.each do |pipeline| %>
  <div class="pipeline">
    <h2><%= link_to pipeline.name, pipeline %></h2>
    <p><%= pipeline.description %></p>

    <%= link_to 'Show', pipeline if can? :read, pipeline %> |
    <%= link_to 'Edit', edit_pipeline_path(pipeline) if can? :edit, pipeline %>
  </div>
<% end %>
</div>
<%= link_to 'New Pipeline', new_pipeline_path if can? :create, Pipeline %>
