<p id="notice"><%= notice %></p>

<h1>Listing Pipelines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Steps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pipelines.each do |pipeline| %>
      <tr>
        <td><%= pipeline.name %></td>
        <td><%= pipeline.description %></td>
        <td><%= pipeline.steps %></td>
        <td><%= link_to 'Show', pipeline if can? :read, pipeline %></td>
        <td><%= link_to 'Edit', edit_pipeline_path(pipeline) if can? :edit, pipeline %></td>
        <td><%= link_to 'Destroy', pipeline, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, pipeline %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pipeline', new_pipeline_path if can? :create, Pipeline %>
