<%= form_for(@step) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :options %><br>
    <%= f.text_area :options %>
  </div>
  <div class="field">
    <%= f.label :pipeline_id %><br>
    <%= f.text_field :pipeline_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
