<%= bootstrap_form_for(@step, class: 'step') do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.select :type, Step.subclasses.map { |x| [t(x), x] }, { include_blank: 'None' }, wrapper_class: 'step-type' %>
  <%= f.hidden_field :order, class: 'order' %>
  <h4>Options</h4>
  <div class="options">
    <% f.object.class.stored_attributes[:options].each do |o| %>
      <%= f.text_field o, layout: :horizontal, data: { option: o } %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
